*{
  font-family: Agave;
  font-weight: 800;
  color: #93a8ac;
  font-size: medium;
}

window#waybar {
  background-color: transparent;
}

.module {
  background-color: #4d5b4a;
}

.module#workspaces button {
  padding: 3px;
}
