// Inputs and Outputs
  input {
    keyboard {
      xkb { layout "us"; }
      repeat-delay 300
      repeat-rate 30
      numlock
    }

    mouse {
      accel-speed 0.01
    }
  }

  output "DP-2" {
    mode "2560x1440@179.887"
    scale 0.9
    variable-refresh-rate on-demand=true
  }

// Desktop options
  prefer-no-csd
  hotkey-overlay { skip-at-startup; }
  screenshot-path "~/Pictures/Screenshots/Screenshot from %m-%d-%Y %H-%M-%S.png"

  // Rounded window corners
  window-rule {
    geometry-corner-radius 19
    clip-to-geometry true
  }

  layout {
    gaps 5
    center-focused-column "never"
    background-color "transparent"
    focus-ring { off; }
    // Struts are like "outer gaps"
    struts {
      left 7
      right 7
      top 0
      bottom 0
    }
    border {
      width 3
      inactive-color "#333333"
      active-color "#C92626"
    }

    // Preset window sizes
    // Default width
    default-column-width { proportion 0.5; }
    // Preset width
    preset-column-widths {
      proportion 0.25
      proportion 0.5
      proportion 0.75
      proportion 1.0
    }
    // Preset heights
    preset-window-heights {
      proportion 0.5
      proportion 1.0
    }
  }

  // Place wallpaper in the backdrop
  layer-rule {
    match namespace="awww-daemon"
    place-within-backdrop true
  }

  // Start needed services
  spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
  spawn-at-startup "xwayland-satellite"

  // Start desktop essentials
  spawn-at-startup "ironbar"
  spawn-at-startup "awww-daemon"
  spawn-at-startup "awww" "img" "-t" "none" "/home/mabel/Pictures/Wallpapers/gris.jpg"

  // Start Music Player Daemon and MPRIS integration
  spawn-at-startup "mpd"
  spawn-at-startup "mpd-mpris" "-network" "unix" "-host" "/home/mabel/.mpd/socket"

  // Apps to open at full width
  window-rule {
    match app-id="^(.*Darktable)"
    match app-id="^(.*gimp)"
    match app-id="^(.*zoom)"
    match app-id="^(.*FreeCAD)"
    match app-id="^(.*BambuStudio)"
    match app-id="^(.*Inkscape)"
    match app-id="org.musicbrainz.Picard"

    default-column-width { proportion 1.0; }
  }

// Steam
  spawn-at-startup "steam"

  // Steam game window rules
  window-rule {
    match app-id="^(steam_app_.*)$"
    variable-refresh-rate true
    open-fullscreen true
    open-focused true
  }

  // Steam notification fix
  window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
  }

  // Open big picture mode in fullscreen
  window-rule {
    match app-id="steam" title="Steam Big Picture Mode"
    open-fullscreen true
}

// Keybinds
binds {
  // Application hotkeys
  Mod+T { spawn "kitty"; }
  Mod+E { spawn "kitty" "-o" "confirm_os_window_close=0" "yazi"; }
  XF86AudioRaiseVolume { spawn "kitty" "-o" "confirm_os_window_close=0" "rmpc"; }
  Mod+W { spawn "librewolf"; }
  
  // System
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Q { close-window; }
  Mod+D { spawn "fuzzel"; }
  Mod+S { spawn "swaylock"; }
  Mod+Alt+S { spawn "/home/mabel/.scripts/lock.sh"; }

  // Scripts
  Mod+C { spawn "/home/mabel/.scripts/colorPicker.sh"; }
  Shift+Mod+D { spawn "/home/mabel/.scripts/define.sh"; }
  
  XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
  XF86AudioPlay { spawn "playerctl" "play-pause"; }
  XF86AudioNext { spawn "playerctl" "next"; }
  XF86AudioPrev	{ spawn "playerctl" "previous"; }

  // Navigation
    // Arrow keys
      // Move focus
      Mod+Left  { focus-column-left; }
      Mod+Down  { focus-window-or-workspace-down; }
      Mod+Up    { focus-window-or-workspace-up; }
      Mod+Right { focus-column-right; }
      // Move windows
      Mod+Ctrl+Left  { move-column-left; }
      Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
      Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
      Mod+Ctrl+Right { move-column-right; }
      // Move focus between monitors
      Mod+Shift+Left  { focus-monitor-left; }
      Mod+Shift+Down  { focus-monitor-down; }
      Mod+Shift+Up    { focus-monitor-up; }
      Mod+Shift+Right { focus-monitor-right; }
      // Move windows between monitors
      Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
      Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
      Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
      Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    // Vim-like
      // Move focus
      Mod+H  { focus-column-left; }
      Mod+J  { focus-window-or-workspace-down; }
      Mod+K  { focus-window-or-workspace-up; }
      Mod+L  { focus-column-right; }
      // Move focus between monitors
      Mod+Shift+H  { focus-monitor-left; }
      Mod+Shift+J  { focus-monitor-down; }
      Mod+Shift+K  { focus-monitor-up; }
      Mod+Shift+L  { focus-monitor-right; }
      // Move windows
      Mod+Ctrl+H  { move-column-left; }
      Mod+Ctrl+J  { move-window-down-or-to-workspace-down; }
      Mod+Ctrl+K  { move-window-up-or-to-workspace-up; }
      Mod+Ctrl+L  { move-column-right; }
      // Move focus between monitors
      Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
      Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
      Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
      Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
   
    // Move focus between workspaces 
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    // Move windows between workspaces
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Control window tiling
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Period { consume-window-into-column; }
    Mod+Slash { expel-window-from-column; }

    Mod+V { toggle-window-floating; }
    Mod+Ctrl+V { switch-focus-between-floating-and-tiling; }
    
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Screenshots
    Mod+Shift+S { screenshot; }
    Mod+Ctrl+Shift+S { screenshot-screen; }
    Mod+Alt+Shift+S { screenshot-window; }

    Mod+O { toggle-overview; }
    
    // Exit Niri
    Mod+Shift+E { quit; }
}
